/* Paleta de cores */
    /* --grama: #5E7C16;
    --bau: #8B5A2B;
    --pedra: #7D7D7D;
    --diamante: #33C5F0;
    --areia: #D7C79F; */

@font-face {
    font-family: 'Minecraftia';
    src: url('/fonte/Minecraftia-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
    font-size: 20px;
    font-weight: 0;
    
}
/* Estilo do body */
body{
    background: linear-gradient(to right, #5E7C16 60%, #D7C79F 50%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
/* Container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 100px;
    padding-left: 10%;
    

    
}

.logo-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        height: 100vh; /* usa toda a altura da tela */
        padding: 0;
        margin: 0;
        margin-bottom: 5%;
        margin-right: 25%;
}

.logo{
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50%;
}

/*  Titulo */
.text h1{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 5px;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
 
  }
/* Parágrafo */
.p{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;

}


/* Login */
.Login{
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;



}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 50px;
    margin-bottom: 35px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    
    
    
}
/* Entrar */
.button1{
    width: 400px;
    height: 50px;
    background-color: #5E7C16;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    

    
}
button:hover{
    background-color: #33C5F0;
    transition: 0.5s;
    color: #ffffff;
    

}    
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    
}

.button-grupo{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;

}

/* Criar conta */
.button2{
    width: 200px;
    height: 50px;
    background-color: #5E7C16;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;

    
    
}
.button2:hover{
    background-color: #8B5A2B;
    transition: 0.5s;
    
}
/* Senha */
.button3{ 
    width: 180px;
    height: 50px;
    background-color: #5E7C16;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;
    

}
.button3:hover{
    background-color: #8B5A2B;
    transition: 0.5s;
    
}


