/* Paleta de cores */
    /* --grama: #5E7C16;
    --bau: #8B5A2B;
    --pedra: #7D7D7D;
    --diamante: #33C5F0;
    --areia: #D7C79F; */



@font-face {
    font-family: 'Minecraftia';
    src: url('/fonte/Minecraftia-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
    font-size: 20px;
    font-weight: 0;
}
/* Estilo do body */
body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/426/979/811/minecraft-video-games-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #5E7C16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
/* Container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 100px;
    padding-left: 10%;
    border: #8B5A2B solid 300px; /* Solid, Dotted, Dashed, Double, Groove, Ridge, Inset, Outset */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10.5);
    padding-left: 20px;
    
    
    
}
/* Estilo do título */
.cadastro{
    font-size: 45px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilo do formulário */
.Nome{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;

}
/* Estilo do campo de email */
.email{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 30px;
}
/* Estilo do campo de senha */
.senha{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 30px;
}
.senha2{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 15px;
}    

/* Estilo do campo de confirmar senha */
.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    
}
/* Estilo do botão de cadastrar */
.cadastrar-button{
    background-color: #D7C79F;
    color: #7D7D7D;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 40px;
    
}
/* Estilo do botão de voltar */
.cadastrar-button:hover{
    background-color: #D7C79F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);    

}
/* Estilo do botão de vo */
.voltar {
    background-color: #D7C79F;
    color: #7D7D7D;
    border: none;
    padding: 10px 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
   
    
    

}
/* Estilo do botão de voltar */
.voltar:hover{
    background-color: #D7C79F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);    
}



